<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Water+Brush&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Water+Brush&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Open+Sans:wght@300&family=Water+Brush&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Task Heading</h1>
    <div id="info">
        <h2>Date: 15th May, 2022</h2>
        <h2>Timing: 7 PM</h2>
        <h2>Venue: MANIT</h2>
        <h2>Cheif guest : XYZ</h2>
        <img src="guest.jpg" class ="icon" alt="XYZ: Profile Photo">
        <br>
        <h2>Event Details</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id voluptate, sunt sequi distinctio quisquam iste rem molestias ullam, vel voluptas laboriosam dolorem ducimus rerum aut harum quas. Quibusdam, quas doloremque?
        Temporibus sint soluta eum iusto laboriosam nam animi quia porro accusantium at! Sed, error inventore nam atque similique eos, facere aut earum, incidunt harum doloribus? Quas, dolorum eaque. Dolorem, recusandae?</p>
        <br>
        <span>
            <p>Conducted by <a href="https://www.ecellnitb.com/homepage/" id="link" target="_blank">ECellNITB</a></p>
            <p>Sponsored By {Sponsor's name here}</p>
        </span>
    </div>
    <br>
    <div>
        <a href="/register" >Register</a>
        <a href="/showData">Show All Data</a>
    </div>
</body>
</html>