<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="error.css">
    <title>Already Done</title>
</head>
<body>
    <% if(ans.val==true){ %>
        <h1>Succefully Registered</h1>
    <% }else { %>
        <h1>Your email or mobile is already registered</h1>
    <% } %>   
    <br>
    <a href="/home">Home</a>
    
</body>
</html>